@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-900: #0c4a6e;
  
  --color-dark: #111827;
  
  --color-gold-200: #fde68a;
  --color-gold-400: #fbbf24;
  --color-gold-500: #d4af37;
  --color-gold-600: #b5952f;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #ACBAC4;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .btn-primary {
    @apply bg-primary-600 text-white px-4 py-2 rounded-lg hover:bg-primary-700 transition font-medium shadow-md;
  }
  .btn-secondary {
    @apply bg-transparent text-gray-700 font-bold py-2 px-6 rounded border border-gray-300 hover:bg-gray-50 transition-colors duration-300;
  }
  .btn-gold {
    @apply bg-[#0B2D72] text-white font-bold py-2 px-6 rounded hover:bg-[#0B2D72] transition-colors duration-300;
  }
  .input-field {
    @apply mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[#0B2D72] focus:border-[#0B2D72] sm:text-sm;
  }
  .card {
    @apply bg-white rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300;
  }
}
